<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="eventGroupsMain.html"> 
	<widget-row>
		<widget-cell>
			<h2>{{data.value.message}}</h2>
		</widget-cell>
	</widget-row>
    
    <event-card ng-repeat="event in events" event="event">
    </event-card>
		
<!-- 	<widget-row ng-repeat="item in items.value" clickable ng-click="showDetails(item)">
		<widget-cell fill>
			<span class="itemName">{{item.title}}</span>
			<span ng-repeat= "tag in item.tags" class="label label-success">
				{{tag}}
			</span>
		</widget-cell>
		<widget-cell>
			<widget-icon name="angle-right"></widget-icon>
		</widget-cell>
	</widget-row> -->
</script>